@import '../variabels.scss';
@import '../mixin.scss';

.cost_servers {
    width: 100%;
    max-width: 1920px;
    margin: 200px auto 100px auto;
    overflow: hidden;


    @media screen and(max-width: 1720px) {
        width: 97%;
    }

    @media screen and(max-width: 820px) {
        margin-top: 100px;
    }

    &_title {
        font-family: $base-font-famaly;
        font-weight: 800;
        font-size: 48px;
        line-height: 59px;
        text-align: center;
        letter-spacing: 0.04em;
        color: $base-color-text-black;
        margin-top: 0;
        margin-bottom: 0
    }

    &_min_title {
        @extend .cost_servers_title;
        color: $base-color-text-yellow;
        margin-bottom: 100px;
    }

    &__wrapper_content {
        width: 100%;
        max-width: 1660px;
        margin: 0 auto;
    }

    &__water_supply {
        position: relative;
        display: flex;
        justify-content: space-between;

        @media screen and(max-width: 1680px) {
            flex-direction: column !important;
            align-items: center;
        }

        &_title {
            position: relative;
            font-family: $base-font-famaly;
            font-weight: 750;
            font-size: 48px;
            line-height: 59px;
            color: #39435E; 
            mix-blend-mode: normal;
            opacity: 0.4;
            max-width: 370px;
            width: 100%;
            z-index: 10;

            @media screen and (max-width: 1720px) {
                text-align: center;
            }

            @media screen and(max-width: 520px) {
                font-size: 34px;
            }
        }

        &_background {
            position: absolute;
            left: -150px;
            top: 30px;
            background: rgba(255, 255, 255, 0.8);
            backdrop-filter: blur(6px);
            width: 778px;
            height: 593px;
            z-index: 1;

            @media screen and(max-width: 1680px) {
                display: none;
            }
        }
    }

    &__heat_engineering {
        @extend .cost_servers__water_supply;
        flex-direction: row-reverse;

        &_title {
            @extend .cost_servers__water_supply_title;
        }

        &_background {
            position: absolute;
            top: 20px;
            right: -150px;
            width: 778px;
            height: 593px;
            z-index: 1;

            @media screen and(max-width: 1680px) {
                display: none;
            }
        }
    }
}

.images {
    display: flex;
    width: 100%;
    max-width: 1234px;
    position: relative;
    z-index: 10;

    @media screen and(max-width: 1680px) {
        flex-direction: column !important;
        align-items: center;
    }

    &_item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        max-width: 780px;
        height: 512px;

        @media screen and(max-width: 860px) {
            flex-direction: column;
            align-items: center;
            height: fit-content;
            background-size: contain;
        }

        &__image {
            width: 384px;
            height: 236px;
            border-radius: 10px;

            @media screen and(max-width: 860px) {
                margin-top: 20px;
            }

            @media screen and(max-width: 520px) {
                width: 310px;
                height: 200px;
            }

            & p {
                @include cost-servers-text;
            }
        }
    }
}

.height {
    width: 385px;
    height: 492px; 
    margin-right: 40px;
    border-radius: 10px;

    @media screen and(max-width: 1680px) {
        margin-bottom: 20px;
        margin-right: 0;
    }

    @media screen and(max-width: 520px) {
        width: 320px;
        height: 450px;
    }

    & p {
        @include cost-servers-text;
    }
}

.reverse {
    flex-direction: row-reverse;
}

.rev {
    margin-left: 40px;
    margin-right: 0 !important;

    @media screen and(max-width: 1680px) {
        margin-left: 0;
    }
}

.image52 {
    display: flex;
    align-items: flex-end;
    background-image: url('../../images/image52.png');

    @media screen and(max-width:880px) {
        justify-content: flex-end;
    }
}

.image53 {
    display: flex;
    align-items: flex-end;
    background-image: url('../../images/image53.png');
}

.image54 {
    display: flex;
    align-items: flex-end;
    background-image: url('../../images/image54.png');
}

.image55 {
    display: flex;
    align-items: flex-end;
    background-image: url('../../images/image55.png');
}

.image56 {
    display: flex;
    align-items: flex-end;
    background-image: url('../../images/image56.png');
}

.image61 {
    display: flex;
    align-items: flex-end;
    background-image: url('../../images/image61.png');

    @media screen and(max-width:880px) {
        justify-content: flex-end;
    }
}

.image58 {
    display: flex;
    align-items: flex-end;
    background-image: url('../../images/image58.png');
}

.image57 {
    display: flex;
    align-items: flex-end;
    background-image: url('../../images/image57.png');
}

.image60 {
    display: flex;
    align-items: flex-end;
    background-image: url('../../images/image60.png');
}

.image59 {
    display: flex;
    align-items: flex-end;
    background-image: url('../../images/image59.png');
}
