@import './header.scss';
@import './footer.scss';
@import './content.scss';
@import './content/our_works.scss';
@import './content/cost_servers.scss';

@font-face {
    font-family: 'Avenir Next Cyr';
    src:
         url('../public/fonts/AvenirNextCyr-Bold.woff') format('woff'),
         url('../public/fonts/AvenirNextCyr-Regular.woff') format('woff'),
         url('../public/fonts/Avenir_Next_Cyr_Medium.ttf') format('woff')
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Avenir Next Cyr, Arial, Helvetica, sans-serif;
}

.validation {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__error {
        position: absolute;
        width: 250px;
        bottom: -35px;
        font-size: 12px;
        color: #ffffff;
        text-align: center;
    }
}